<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Open Discount</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form #addOpenDiscount="ngForm" ngNativeValidate (ngSubmit)="onSubmit(addOpenDiscount.value)" class="form-signin">
            <h2 class="form-signin-heading">Add open discount in store: {{ storeName }}</h2>
            <!--Spacer-->
            <hr class="spacer">
            <!--Spacer-->
            <mat-form-field>
                <mat-label>Item</mat-label>
                <mat-select [(value)]="selectedItemId">
                    <mat-option *ngFor="let item of items" [value]="item.Id">
                        {{ item.Name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--Spacer-->
            <hr class="spacer">
            <!--Spacer-->
            <label for="discountPrecent" class="sr-only">Discount precent</label>
            <input type="number" step="0.01" min="0" max="1" name="discountPrecent" class="form-control" placeholder="Discount precent" required autofocus ngModel>
            <!--Spacer-->
            <hr class="spacer">
            <!--Spacer-->
            <label for="durationInDays" class="sr-only">Number of days for discount</label>
            <input type="number" name="durationInDays" class="form-control" placeholder="Duration in days" required autofocus ngModel>
            <!--Spacer-->
            <hr class="spacer">
            <!--Spacer-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        </form>
        <div *ngIf="actionFailed == true">
            <div class="form-signin-heading" style="color:red;">{{messageToUser}}</div>
        </div>
    </div> <!-- /container -->
</body>
</html>
