<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom Bootstrap Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form #UsersHistoryForm="ngForm" (ngSubmit)="onSubmit(UsersHistoryForm.value)" class="form-signin">
            <h2 class="form-signin-heading">Watch User History</h2>
            <hr class="spacer">
            <label for="username" class="sr-only">UserName</label>
            <input type="text" name="username" class="form-control" placeholder="UserName" required autofocus ngModel>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Watch History</button>
        </form>
        <div *ngIf="userHistoryAdminFailed == true">
            <div class="form-signin-heading" style="color:red;">{{MessageToUser}}</div>
        </div>
    </div>
    <div *ngFor="let order of Orders">
        <h2>Order id: {{ order.OrderId }}</h2>
        <h3>Order time: {{ order.OrderTime }}</h3>
        <div *ngFor="let storeAndItem of storesAndItems">
            <div *ngIf="order.OrderId == storeAndItem.orderId">
                <h2>Store name: {{ storeAndItem.storeName }}</h2>
                <div *ngFor="let orderItem of Object.keys(storeAndItem.items)">
                    <h3>item name: {{ storeAndItem.items[orderItem].Name }}</h3>
                    <p>price per item: {{ storeAndItem.items[orderItem].DiscountedPricePerItem | currency:"ILS" }}</p>
                    <p>amount: {{ storeAndItem.items[orderItem].Amount }}</p>
                </div>
            </div>
        </div>
        <div><h3>Total price: {{ order.Total  | currency:"ILS" }}</h3></div>
    </div>
</body>
</html>


